package ${basePackage};


import com.thoughtworks.jbehave.extensions.story.domain.EventUsingMiniMock;
import com.thoughtworks.jbehave.extensions.story.domain.World;

public class ${event} extends EventUsingMiniMock {

        public void occurIn(World world) throws Exception {
            // add your code here
        }
}