/*
 *
 */
package ${basePackage};

import com.thoughtworks.jbehave.extensions.story.domain.GivenUsingMiniMock;
import com.thoughtworks.jbehave.extensions.story.domain.Environment;


public class ${given.className} extends GivenUsingMiniMock {
    public void setUp(Environment context) throws Exception {
         // add your code here
     }
}

