package ${basePackage};

import com.thoughtworks.jbehave.extensions.story.domain.ExpectationUsingMiniMock;
import com.thoughtworks.jbehave.extensions.story.domain.World;

public class ${expectation} extends ExpectationUsingMiniMock {
        public void setExpectationIn(World world) {

        }

        public void verify(World world) {

        }
}