package ${packageName};

import org.jbehave.core.story.domain.MultiStepScenario;

public class ${className} extends MultiStepScenario {

    public void specifySteps() {
    	when(new ${eventClassName}());
     	#foreach( $givenClassName in $givenClassNames )
	      given(new $givenClassName());
    	#end
     	#foreach( $outcomeClassName in $outcomeClassNames )
	      then(new $outcomeClassName());
    	#end
	}    

}
