/*
 *
 */
package ${basePackage};

import jbehave.story.domain.GivenUsingMiniMock;
import jbehave.story.domain.Environment;


public class ${given.className} extends GivenUsingMiniMock {
    public void setUp(Environment context) throws Exception {
         // add your code here
     }
}

