package ${basePackage};


import jbehave.story.domain.EventUsingMiniMock;
import jbehave.story.domain.World;

public class ${event} extends EventUsingMiniMock {

        public void occurIn(World world) throws Exception {
            // add your code here
        }
}