package ${packageName};

import org.jbehave.core.minimock.story.domain.OutcomeUsingMiniMock;
import org.jbehave.core.story.domain.World;

public class ${className} extends OutcomeUsingMiniMock {

    public void verify(World world) {
    	// TODO
    }

}
