/*
 * Created on 23-Aug-2004
 */
package ${basePackage};

import jbehave.story.domain.Story;
import jbehave.story.domain.Context;
import jbehave.story.domain.Outcome;
import jbehave.story.domain.Narrative;
import jbehave.story.domain.AcceptanceCriteria;
import jbehave.story.domain.ScenarioUsingMiniMock;
import jbehave.story.domain.Given;

public class $story.className extends Story {


    public ${story.className}() {

        super(new Narrative("$story.role", "$story.feature", "$story.benefit"), new AcceptanceCriteria());
#foreach ( $scenario in $story.scenarios )

        addScenario(new ScenarioUsingMiniMock(
                "$scenario.name", this,
                new Context(
    #set ( $comma = "" )
        new Given [] {
    #foreach ( $given in $scenario.context.givens )
                    $comma new ${given.className}()
        #set ( $comma = "," )
    #end
    }
                ),
                new ${scenario.event.className}(),
                new Outcome(
    #set ( $comma = "" )
    #foreach ( $expectation in $scenario.outcome.expectations )
                    $comma new ${expectation.className}()
        #set ( $comma = "," )
    #end
                )
            )
        );
        
#end
    }
}

