package ${packageName};

import org.jbehave.core.minimock.story.domain.GivenUsingMiniMock;
import org.jbehave.core.story.domain.World;

public class ${className} extends GivenUsingMiniMock {

    public void setUp(World world) {
    	// TODO
    }

}
